{% extends 'adminpages/dashboardbase.html' %}


{% block title %}Staff List{% endblock title %}
{% block content %}
<!--header-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Staff List</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a href="{% url 'ecoapp:adminstaffcreate' %}" class="btn btn-sm btn-outline-secondary"> + New Staff</a>
                    </div>

                </div>
            </div>
<!--end header-->

<div class="container">

    <div class="row col-lg-12 mt-3">
<!--        <a href="{% url 'ecoapp:adminproductasview' %}" class="text-primary">Create New Product</a>-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">SN</th>
                <th scope="col">username</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">NRCno</th>
                <th scope="col">Role</th>

            </tr>
            </thead>
            <tbody>
            {% for staff in allstaff %}
            <tr>

                <th scope="row">{{forloop.counter}}</th>
                <th scope="row">{{staff.user.username}}</th>
                <td><img src="{{staff.image.url}}" alt="" width="75px" height="75px"></td>
                <td><a href="#">{{staff.full_name}}</a></td>
                <td>{{staff.mobile}}</td>
                <td>{{staff.NRCno}}</td>
                <td>{{staff.role}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>




{% endblock %}