{% extends 'adminpages/dashboardbase.html' %}


{% block title %}Cash Sale{% endblock title %}
{% block content %}

<div class="container">
    <!--header-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Cash</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="{% url 'ecoapp:cashsalelistcsv' %}" class="btn btn-sm btn-outline-secondary"><span data-feather="arrow-down"></span> Download CSV</a>

                </div>
            </div>
<!--end header-->

    <div>
<!--        <form action="#" method="POST">{% csrf_token %}-->
<!--        {{myfilter.form}}-->
<!--            <input type="submit" value="search">-->
<!--            </form>-->
    </div>
    <div class="row mt-3">

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">SN</th>
                <th scope="col">Customer</th>
                <th scope="col">Invoice ID</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>

            </tr>
            </thead>
            <tbody>
            {% for order in pendingorders %}
            <tr>

                <th scope="row">{{forloop.counter}}</th>
                <td>{{order.ordered_by}}</td>
                <td><a href="{% url 'ecoapp:adminorderdetail' order.id %}">{{order.id}}</a></td>
                <td>{{order.created_at}}({{order.created_at|timesince}})</td>
                <td>{{order.all_total}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>

{% endblock %}